:root {
  --main-background-color: #ffffff;
  --second-color: #4d5ae5;
  --logo-color: #2e2f42;
}

p,
h1,
h2,
h3,
h4.h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}
img {
  display: block;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: var(--main-background-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* -------------------HEADER------------------- */
.header-container {
  display: flex;
  justify-content: space-between;
}
.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  margin-right: 76px;
}

.header-logotype {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-contacts:hover,
.header-contacts:focus {
  color: #404bbf;
}

/* -------------------HERO------------------- */

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto 48px;
  max-width: 496px;
}

.hero-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--second-color);
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* -------------------FEATURES------------------- */
.features {
}
.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -------------------WORKS------------------- */
.works {
  padding-top: 0;
}
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.works-list {
  background-color: #ffffff;
  display: flex;
  gap: 24px;
}

.works-item {
}

/* -------------------TEAM------------------- */
.team {
  background-color: #f4f4fd;
}
.team-card {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-soc-icon {
  fill: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
}
.team-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

/* -------------------FOOTER------------------- */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-link {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 17px;
}

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

/* -------------------PORTFOLIO PAGE------------------- */
.gallery {
  padding-bottom: 120px;
}
.gallery-list-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-top: 72px;
}
.gallery-item {
}
.gallery-card {
  padding: 32px 0 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}
.gallery-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.gallery-btn:hover,
.gallery-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.gallery-second-item {
  width: calc((100% - 48px) / 3);
}
.gallery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.gallery-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
